body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  line-height: 60px;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 60px;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  line-height: 60px;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 60px;
}
p {
  color: dimgrey;
}
#owner {
  color: lightsalmon;
  font-weight: 800;
}
.hire-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
}
.top {
  height: 700px;
}
.end {
  height: 500px;
  text-align: center;
}
.top-banner {
  background-image: url(images/header-bg.png);
  background-position: center;
  background-size: cover;
}
.half-width {
  width: 30%;
  margin-left: 10%;
  margin-top: 13%;
  padding-left: 2%;
  float: left;
}
.half-width img {
  width: 100%;
}
.biography {
  background-image: url(images/biography-bg.png);
  background-position: center;
  background-size: cover;
}

.work {
  margin-top: 100px;
  background-image: url(images/latest-work-bg.png);
  background-position: center;
  background-size: cover;
}
.work img {
  width: 29.3%;
  margin: 2%;
  float: left;
}
.client {
  background-image: url(images/footer-bg.png);
  background-position: center;
  background-size: cover;
}
.client-container {
  text-align: center;
}
.client-container p {
  margin: 0 30% 50px 30%;
}
footer p {
  margin-top: 40px;
  text-align: center;
}
#mail {
  background-color: sandybrown;
  border-radius: 5px;
  padding: 30px 50px;
  color: white;
  text-align: center;
}
#mail a {
  text-decoration: none;
  color: white;
}
